<%- include('../includes/header') %>
    <%- include('../includes/navigation') %>

        <section id="deatils-page">
            <div class="wrapper">
                <div class="product-img">
                    <img src="./static/images/apartments.jpg">
                </div>
                <div class="product-info">
                    <div class="product-text">
                        <div class="product-text">
                            <h1>
                                Name: <%=values.name %>
                            </h1>
                            <h2>
                                Type: <%=values.type%>
                            </h2>
                            <h4>
                                Year: <%=values.year%>
                            </h4>
                            <h4>
                                City: <%=values.city%>
                            </h4>
                            <p>
                                Description: <%=values.description%>
                            </p>

                            <!-- if there are already tenants of the housing, separate their names with a comma and a space ", "  -->
                            <p>People rented this housing: Alex Petkov, Ivan Dobrev</p>

                            <!-- If not display: -->
                            <p>People rented this housing: There are no tenants yet.</p>
                        </div>
                    </div>

                    <% if(isAuth) {%>
                        <div class="product-btn">
                            <% if(isOwner) { %>
                                <a href="#" class="edit">Edit</a>
                                <a href="#" class="remove">Delete</a>
                                <% } else {%>
                                    <% if(hasFreeSpaces && !hasUserBooked) {%>
                                        <a href="#" class="rentHome">
                                            Rent a home, available <%=hasFreeSpaces %> housing
                                        </a>
                                        <% } %>
                                            <% if(hasUserBooked) { %>
                                                <p class="alRentHome">
                                                    You have already rent this home
                                                </p>
                                                <% } %>
                                                    <% if(!hasFreeSpaces) {%>
                                                        <p class="no-housing">No Housing Available!</p>
                                                        <% } %>
                                                            <% } %>
                        </div>
                        <% } %>
                </div>
            </div>
        </section>

        <%- include('../includes/footer') %>