<%- include('../includes/header') %>
    <%- include('../includes/navigation') %>

        <section id="login-page">
            <div class="boxs">
                <div class="card-image">
                    <h2 class="card-heading">
                        Login
                    </h2>
                </div>
                <form class="card-form" method="POST">

                    <div class="input">
                        <label class="email_address">Email Address</label>
                        <input type="email" class="input-field" placeholder="a.jonson@smith.ths" id="email" name="email"
                            value="<%=values.email ? values.email : ''%>" />
                    </div>
                    <div class="input">
                        <input type="password" class="input-field" id="password" name="password" placeholder="******"
                            value="<%=values.password ? values.password : ''%>" />
                        <label class="password">Password</label>
                    </div>
                    <div class="action">
                        <button class="action-button" type="submit">Login</button>
                    </div>
                </form>
                <div class="card-info">
                    <p>Dont have an account?
                        <a href="#">Sign up</a>.
                    </p>
                </div>
            </div>
        </section>

        <%- include('../includes/footer') %>