<%- include('../includes/header') %>
    <%- include('../includes/navigation') %>

        <section id="register-page">
            <div class="boxs">
                <div class="card-image">
                    <h2 class="card-heading">
                        Create your account
                    </h2>
                </div>
                <form class="card-form" method="POST">
                    <div class="input">
                        <label class="username">Username</label>
                        <input type="text" class="input-field" placeholder="A_Jonson" id="username" name="username"
                            value="<%=values.username ? values.username : '' %>" />
                    </div>
                    <div class="input">
                        <input type="text" class="input-field" placeholder="a.jonson@smith.ths" id="email" name="email"
                            value="<%=values.email ? values.email : '' %>" />
                        <label class="email_address">Email Address</label>
                    </div>
                    <div class="input">
                        <input type="password" class="input-field" id="password" name="password" placeholder="******"
                            value="<%=values.password ? values.password : '' %>" />
                        <label class="password">Password</label>
                    </div>
                    <div class="input">
                        <input type="password" class="input-field" id="re-password" name="repeatPassword"
                            placeholder="******" value="<%=values.repeatPassword ? values.repeatPassword : '' %>" />
                        <label class="re-password">Repeat Password</label>
                    </div>
                    <div class="action">
                        <button class="action-button">Get started</button>
                    </div>
                </form>

                <div class="card-info">
                    <small>Already have an account?<a href="#"> Sign in</a>
                    </small>
                </div>
            </div>
        </section>

        <%- include('../includes/footer') %>