<%- include('../includes/header') %>
    <%- include('../includes/navigation') %>

        <form class="search" method="POST">
            <input type="search" name="search" placeholder="Search here...">
            <button type="submit">Search</button>
        </form>
        <section id="find-section">

            <% if(searchResults?.length>0) {%>

                <% for(let property of searchResults) {%>
                    <div class="card">
                        <h3>
                            <%= property.name %>
                        </h3>
                        <p>
                            <%= property.description%>

                        </p>
                        <div class="cta-container">
                            <a href="/property-details/<%= property._id %>" class="det-link">Details</a>
                        </div>
                        <div class="card_circle">
                            <img src="<%=property.image %>" alt="property image" />
                        </div>
                    </div>
                    <% } %>

                        <%} else{%>
                            <div class="no-data-listing">
                                <p class="no-offer">No match was found for the submitted type...</p>
                            </div>
                            <% } %>
        </section>

        <%- include('../includes/footer') %>