<div id="box">

  <% if(error) { %>
    <div>
      <div class="errorContainer">
        <p>
          <%= error %>
        </p>
      </div>
    </div>
    <% } %>

      <nav>
        <div class="<%=path==='/' ? 'active' : '' %>">
          <a href="/">Home</a>
        </div>
        <ul>
          <li class="<%= path === '/search-for-offer' ? 'active' : ''%>">
            <a href="/search-for-offer">Search</a>
          </li>
          <li class="<%=path==='/rent-property' ? 'active' : '' %>">
            <a href=" /rent-property">Property for rent</a>
          </li>
          <% if(isAuth) { %>
            <li class="<%=path==='/rent-property' ? 'active' : '' %>">
              <a href="/create-offer">Create offer</a>
            </li>
            <li class="<%=path==='/logout' ? 'active' : '' %>">
              <a href="/logout">Logout</a>
            </li>
            <% } else { %>
              <li class="<%=path==='/login' ? 'active' : '' %>">
                <a href="/login">Login</a>
              </li>
              <li class="<%=path==='/register' ? 'active' : '' %>">
                <a href="/register">Register</a>
              </li>
              <% } %>
        </ul>
      </nav>

      <main>